/* layout style */
#logo {
	width: 120px;
	padding-left: 10px;
}

header nav {
	float: right;
	padding-top: 30px;
}

nav ul li {
	display: inline-block;
	margin-left: 16px;
	padding-right: 40px;
	font-size: calc(12px + 0.5vw);
}

nav ul {
	padding-left: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  line-height: 1.4em;
  color: #494949;
  /* color: #eff2f2; */
  /* background-image: url("./images/connectwork.png"); */
  margin: 0px;
  box-sizing: border-box;
  max-width: 100%;
}

article {
  width: 100%;
  /*margin: 0 auto;*/
}

header h1, header p {
	text-align: center;
}


.navbar {
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	max-height: 100px;
	z-index: 2;

}

.profile { /*
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	*/
}

.box {
	width: 100vw;
	height: 80vh;
	min-height: 80vh;

	background-size: cover;
	background-position: center;
	background-image: url("https://images.unsplash.com/photo-1533435326986-54dd4f6edbf4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dcec3db734d83d9c163226601820715f&auto=format&fit=crop&w=1189&q=80");
	clear: right;
	margin-top: 150px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#code {
	position: absolute;
	color: #eff6f7;
	font-size: calc(18px + 4vw);
}

.box2 {
	margin-top: 40px;
	font-size: calc(14px + 1vw);
}



.second-image {
	border-top-left-radius: 100px;
}

.third-image {
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
}